/.settings
/.classpath
/.project
/bin
/build
/visko-web.war
/build-local.xml

/installation-tools.jar

/test-output-rdf
/packages.jar
/build-packages
/build-installation-packages-local.xml
/build-installation-visko-local.xml
