<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>visko-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
        <listener-class>edu.utep.trustlab.visko.web.context.ContextListener</listener-class>
   </listener>
  
  <context-param>
    <param-name>logo-path</param-name>
    <param-value>REPLACE-LOGO-PATH</param-value>
  </context-param>
  <context-param>
    <param-name>visko-sparql-endpoint</param-name>
    <param-value>REPLACE-ENDPOINT-URL</param-value>
  </context-param>
  <context-param>
    <param-name>visko-tdb-path</param-name>
    <param-value>REPLACE-TDB-PATH</param-value>
  </context-param>
  
  <servlet>
    <description>Processes VisKo Requests</description>
    <display-name>ViskoServletManager</display-name>
    <servlet-name>ViskoServletManager</servlet-name>
    <servlet-class>edu.utep.trustlab.visko.web.ViskoServletManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViskoServletManager</servlet-name>
    <url-pattern>/ViskoServletManager</url-pattern>
  </servlet-mapping>
</web-app>