<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>visko-webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ExecutePipelineServlet</servlet-name>
    <servlet-class>trustlab.visko.web.ExecutePipelineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExecuteQueryServlet</servlet-name>
    <servlet-class>trustlab.visko.web.ExecuteQueryServlet</servlet-class>
    <init-param>
      <param-name>ci-server-context</param-name>
      <param-value>http://rio.cs.utep.edu/ciserver</param-value>
    </init-param>
    <init-param>
      <param-name>visko-tdb-path</param-name>
      <param-value>C:\Documents and Settings\nick\workspace\ViskoTripleStore\TDB-VISKO-3</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ExecuteQueryServiceServlet</display-name>
    <servlet-name>ExecuteQueryServiceServlet</servlet-name>
    <servlet-class>trustlab.visko.web.ExecuteQueryServiceServlet</servlet-class>
    <init-param>
      <param-name>ci-server-context</param-name>
      <param-value>http://rio.cs.utep.edu/ciserver</param-value>
    </init-param>
    <init-param>
      <param-name>visko-tdb-path</param-name>
      <param-value>C:\Documents and Settings\nick\workspace\ViskoTripleStore\TDB-VISKO-3</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ShowPipelineServlet</servlet-name>
    <servlet-class>trustlab.visko.web.ShowPipelineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutePipelineServlet</servlet-name>
    <url-pattern>/ExecutePipelineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExecuteQueryServlet</servlet-name>
    <url-pattern>/ExecuteQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowPipelineServlet</servlet-name>
    <url-pattern>/ShowPipelineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExecuteQueryServiceServlet</servlet-name>
    <url-pattern>/ExecuteQueryServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KnowledgeBaseInformation</display-name>
    <servlet-name>KnowledgeBaseInformation</servlet-name>
    <servlet-class>trustlab.visko.web.KnowledgeBaseInformation</servlet-class>
    <init-param>
      <param-name>ci-server-context</param-name>
      <param-value>http://rio.cs.utep.edu/ciserver</param-value>
    </init-param>
    <init-param>
      <param-name>visko-tdb-path</param-name>
      <param-value>C:\Documents and Settings\nick\workspace\ViskoTripleStore\TDB-VISKO-3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>KnowledgeBaseInformation</servlet-name>
    <url-pattern>/KnowledgeBaseInformation</url-pattern>
  </servlet-mapping>
</web-app>